<?php
$_product = $this->_getProductCollection();
?>
<?php
if ($_SERVER['HTTPS'] || strtolower($_SERVER['HTTPS']) == 'on') {
    ?>

    <div class="tvcontainer">
        <iframe frameborder="0"
                allowfullscreen="" mozallowfullscreen="" webkitallowfullscreen=""
                hspace="0" vspace="0"  name="fancybox-frame1514540563501" id="frame1514540563501" scrolling="auto"
                src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB, true); ?>quickview/index/views/id/<?php echo $_product->getId(); ?>/?homepage=1"></iframe>
    </div>
    <?php
} else {
    ?>

    <div class="tvcontainer">
        <iframe frameborder="0"
                allowfullscreen="" mozallowfullscreen="" webkitallowfullscreen=""
                hspace="0" vspace="0"  name="fancybox-frame1514540563501" id="frame1514540563501" scrolling="auto"
                src="<?php echo Mage::getBaseUrl() ?>quickview/index/views/id/<?php echo $_product->getId(); ?>/?homepage=1"></iframe>
    </div>
    <?php
}
?>
<style>
    #frame1514540563501{
        min-height: 400px;
        width: 100%;
    }
    .testimonial-section .name{
        font-weight: bold;
    }
</style>
